* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #637081;
    background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
    position: relative;
}

.container {
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    filter: blur(3px);
}

.road {
    transform: translateY(-50%);
    position: absolute;
}

.car {
    height: 300px;
    position: absolute;
}

.car-main {
    left: 360px;
    top: 600px;
}

.car-left {
    left: 360px;
}

.car-right {
    right: 360px;
}

#modal {
    width: 30%;
    height: 30%;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    border-radius: 1rem;
    font-family: fantasy;
}

#modal button {
    width: 60%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #4834d4;
    background-image: linear-gradient(180deg, #4834d4 0%, #0c0c0c 74%);
    letter-spacing: 2px;
    font-size: 20px;
    border-radius: .7rem;
    font-family: fantasy;
}

#modal button:hover {
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
}

#modal p {
    font-size: 30px;
}

#modal p:nth-child(1) {
    font-size: 40px;
    color: darkred;
}

#modal .win p {
    color: greenyellow;
    font-size: 40px;
    margin: 30px;
}

#score-container {
    width: 220px;
    height: 30%;
    position: absolute;
    left: 2%;
    top: 2%;
    border-radius: 1rem;
    box-shadow: 1px 1px 30px 1px rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
    font-family: fantasy;
    font-size: 25px;
    letter-spacing: 1px;
}

#score-container p {
    margin: 10px;
}

.up {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 15%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
    transform: scale(0);
    font-size: 25px;
}

.up.show {
    transition: all 1s;
    transform: scale(2);
    opacity: 0;
    visibility: hidden;
}

.level-up {
    top: 35%;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    font-size: 22px;
}

.score-up {
    top: 55%;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}

.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
}

@keyframes road {
    to {
        transform: translateY(0%);
    }
}

@keyframes car {
    from {
        transform: translateY(-150%);
    }

    to {
        transform: translateY(400%);
    }
}